body{
  background-color: #F5F3F4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



a{
  font-size: 10px;
}

p{
  margin: 0;
  font-size:10px ;
}



#menu{
  width: 100%;
  background-color: #F5F3F4;


  border-bottom: 2px solid black;
  display: flex;

  justify-content: space-evenly;
  align-items: center;


}

#menu #User{
  margin-left: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}

#User img{
  width: 50px;
  height: 50px;
  margin-left:5px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-right: 20px;

  
}

.datos h4 {
  font-size: 10px;



}



.datos  #type{
  color: #B23A48;
  font-size: 10px;
  margin: 0;
  text-justify: 0;
  display: block;
}




#menu a {
  color: black;
  padding-right: 50px;
  text-decoration: none;
  font-size: 20px;

}

body{
  margin: 0;
}
footer{
  background-color: transparent;
}

nav{
  background-color: transparent;
}

#Footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;

}

#Footer a{
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

}